<div class="banner">
    <div class="swiper-container lunbo">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img ng-src="Content/images/banner_01.jpg" alt="banner1"></div>
            <div class="swiper-slide"><img ng-src="Content/images/banner_02.jpg" alt="banner2"></div>
            <div class="swiper-slide"><img ng-src="Content/images/banner_03.jpg" alt="banner3"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="car-list">
    <ul>
        <li class="text-center">
            <span class="fa fa-shopping-bag"></span>
            <em>车商城</em>
        </li>
        <li class="text-center">
            <span class="fa fa-shopping-cart orange"></span>
            <em>分期购车</em>
        </li>
        <li class="text-center">
            <span class="fa fa-spinner"></span>
            <em>团购活动</em>
        </li>
        <li class="text-center">
            <span class="fa fa-car blue"></span>
            <em>找二手车</em>
        </li>
    </ul>
</div>
<div class="banner-img">
    <img ng-src="Content/images/banner_04.jpg" alt="banner4">
</div>
<div class="server">
    <h3>车主服务</h3>
    <ul>
        <li>
            <span class="fa fa-keyboard-o org-red"></span>
            <em>油卡充值</em>
        </li>
        <li>
            <span class="fa fa-language green"></span>
            <em>低价保险</em>
        </li>
        <li>
            <span class="fa fa-phone pouple"></span>
            <em>4S店保养</em>
        </li>
        <li>
            <span class="fa fa-bold green"></span>
            <em>品质轮胎</em>
        </li>
    </ul>
    <ul>
        <li>
            <span class="fa fa-wechat org-red"></span>
            <em>车品商城</em>
        </li>
        <li>
            <span class="fa fa-h-square skyblue"></span>
            <em>洗车</em>
        </li>
        <li>
            <span class="fa fa-qrcode org-red"></span>
            <em>违章代缴</em>
        </li>
        <li>
            <span class="fa fa-vcard pink-red"></span>
            <em>免费测评</em>
        </li>
    </ul>
    <ul>
        <li>
            <span class="fa fa-mail-forward skyblue"></span>
            <em>查周边</em>
        </li>
        <li>
            <span class="fa fa-caret-down green"></span>
            <em>车主卡</em>
        </li>
        <li>
            <span class="fa fa-object-group skyblue"></span>
            <em>领卷保养</em>
        </li>
        <li>
            <span class="fa fa-briefcase all"></span>
            <em>全部</em>
        </li>
    </ul>
</div>
<div class="shop">
    <h3>限时抢购 <span> <em>13</em> : <em>13</em> : <em>13</em></span></h3>
    <div class="swiper-container heng-lunbo">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <dl>
                    <dt><img ng-src="Content/images/shop_01.jpg" alt="banner1"></dt>
                    <dd>
                        <h4>补胎工具简易套装</h4>
                        <p>￥9.9元 <span>28元</span></p>
                    </dd>
                </dl>
            </div>
            <div class="swiper-slide">
                <dl>
                    <dt><img ng-src="Content/images/shop_02.jpg" alt="banner1"></dt>
                    <dd>
                        <h4>车用椅背挂钩</h4>
                        <p>￥9.9元 <span>28元</span></p>
                    </dd>
                </dl>
            </div>
            <div class="swiper-slide">
                <dl>
                    <dt><img ng-src="Content/images/shop_01.jpg" alt="banner1"></dt>
                    <dd>
                        <h4>补胎工具简易套装</h4>
                        <p>￥9.9元 <span>28元</span></p>
                    </dd>
                </dl>
            </div>
            <div class="swiper-slide">
                <dl>
                    <dt><img ng-src="Content/images/shop_01.jpg" alt="banner1"></dt>
                    <dd>
                        <h4>补胎工具简易套装</h4>
                        <p>￥9.9元 <span>28元</span></p>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
